@if (formVisible) {
  <p>Enter your email to receive a password reset link.</p>
<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <label for="email">Email:</label>
  <input 
    formControlName="email" 
    name="email" 
    placeholder="Email" 
    required
  >

  <button type="submit">Reset Password</button>

  @if (
    resetPasswordForm.get('email')?.errors?.['email'] &&
    resetPasswordForm.get('email')?.touched
  ) {
    <p>Wrong email format</p>
  }

  @if(error) {
    <p>{{ error }}</p>
  }
</form>  
}

@if (!formVisible) {
  <p>Password reset link has been sent to your email.</p>
}

