<form [formGroup]="registerForm" (ngSubmit)="register()">
  <label for="email">Email:</label>
  <input 
    formControlName="email" 
    name="email" 
    placeholder="Email" 
    required
  >

  <input 
    formControlName="password" 
    name="password" 
    type="password" 
    placeholder="Password" 
    required
  >

  <input 
    formControlName="confirmPassword" 
    name="confirmPassword" 
    type="password" 
    placeholder="Confirm Password" 
    required
  >

  <button type="submit">Register</button>

  @if (
    registerForm.errors?.['passwordMismatch'] &&
    registerForm.get('confirmPassword')?.touched
  ) {
    <p>Passwords do not match</p>
  }

  @if (errors.length > 0) {
    <ul>
      @for (error of errors; track error) {
        <li>
          {{ error.description }}
        </li>
      }
    </ul>
  }
</form>
