<h2>Create Account</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form__group">
    <label for="email">Email:</label>
    <input 
      formControlName="email" 
      name="email" 
      required
    >
  </div>

  <div class="form__group">
    <label for="password">Password:</label>
    <input 
      formControlName="password" 
      name="password" 
      type="password" 
      required
    >
  </div>

  <div class="form__group">
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      formControlName="confirmPassword" 
      name="confirmPassword" 
      type="password" 
      required
    >
  </div>

  <button 
    type="submit"
  >
    Register
  </button>

  @if (
    registerForm.errors?.['passwordMismatch'] &&
    registerForm.get('confirmPassword')?.touched
  ) {
    <p>Passwords do not match</p>
  }

  @if (errors.length > 0) {
    <ul>
      @for (error of errors; track error) {
        <li>
          {{ error.description }}
        </li>
      }
    </ul>
  }
</form>
