@if(formVisible){
  <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">

    <input 
      formControlName="password" 
      name="password" 
      type="password" 
      placeholder="Password" 
      required
    >

    <input 
      formControlName="confirmPassword" 
      name="confirmPassword" 
      type="password" 
      placeholder="Confirm Password" 
      required
    >

    <button type="submit">Change Password</button>

    @if (
      newPasswordForm.errors?.['passwordMismatch'] &&
      newPasswordForm.get('confirmPassword')?.touched
    ) {
      <p>Passwords do not match</p>
    }

    @if (error) {
      <p>{{ error }}</p>
    }
  </form>
}

@if (!formVisible) {
  <p>Password has been changed.</p>
}